@{
    ViewData["Title"] = "SignIn";
    Layout = "_layout1";
}
<body class="ftco-section">
<div class="container mb-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div>
                <form>
                    <div class="mb-3">
                        <label for="signinEmail" class="form-label">User Name</label>
                        <input type="email" class="form-control" id="signinEmail" placeholder="Enter your user name">
                    </div>
                    <div class="mb-3">
                        <label for="signinPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="signinPassword" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>