@{
    ViewData["Title"] = "Sign Up";
    Layout = "_layout1";
}
<body class="ftco-section">
    <div class="container mb-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <h2 class="text-center">Sign Up</h2>
                    <form>
                        <div class="mb-3">
                            <label for="signupUsername" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="signupUsername" placeholder="Enter your user name" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="signupEmail" placeholder="Enter your email" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="signupPassword" placeholder="Enter your password" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="signupConfirmPassword" placeholder="Confirm your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
