@{
    ViewData["Title"] = "Xem Lại";
    Layout = "_Layout1";
}
<div class="ftco-section">
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <h5 class="mb-0" style="color:white">Xem lại thông tin đã nhập</h5>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <h6>Tỉnh/Thành:</h6>
                    <p id="xemTinhThanh"></p>
                </div>
                <div class="mb-4">
                    <h6>Quận/Huyện:</h6>
                    <p id="xemQuanHuyen"></p>
                </div>
                <div class="mb-4">
                    <h6>Phường/Xã:</h6>
                    <p id="xemPhuongXa"></p>
                </div>
                <div class="mb-4">
                    <h6>Đường/Phố:</h6>
                    <p id="xemDuongPho"></p>
                </div>
                <div class="mb-4">
                    <h6>Dự án:</h6>
                    <p id="xemDuAn"></p>
                </div>
                <div class="mb-4">
                    <h6>Loại BDS:</h6>
                    <p id="xemLoaiBDS"></p>
                </div>
                <div class="mb-4">
                    <h6>Diện tích:</h6>
                    <p id="xemDienTich"></p>
                </div>
                <div class="mb-4">
                    <h6>Mức giá:</h6>
                    <p id="xemMucGia"></p>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary " id="quayLai">Quay lại</button>
                    <button class="btn btn-primary " id="xacNhanDangTin">Xác nhận và Đăng Tin</button>
                </div>
            </div>
        </div>
    </div>
</div>