﻿@{
ViewData["Title"] = "Đăng Tin";
Layout = "_Layout1";
}
<div class="ftco-section">
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <h5 class="mb-0" style="color:white">Thông tin địa chỉ</h5>
            </div>
            <div class="card-body">
                <form id="form1" asp-action="UpProject" asp-controller="Listing" method="post" enctype="multipart/form-data" onsubmit="return handleFormSubmit();">

                    <div class="mb-4"><label for="tenbaidang" class="form-label">Tên bài đăng</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tenbaidang" name="Name" required>
                        </div>
                    </div>

                    <div class="mb-4 address-group">
                        <div class="form-group">
                            <label for="tinhThanh" class="form-label">Tỉnh/Thành phố</label>
                            <select class="form-select" id="tinhThanh" name="Province" required onchange="loadQuanHuyen()">
                                <option value="" disabled selected>Chọn Tỉnh/Thành phố</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quanHuyen" class="form-label">Quận/Huyện</label>
                            <select class="form-select" id="quanHuyen" name="District" required onchange="loadXaPhuong()">
                                <option value="" disabled selected>Chọn Quận/Huyện</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="xaPhuong" class="form-label">Xã/Phường</label>
                            <select class="form-select" id="xaPhuong" name="Ward" required>
                                <option value="" disabled selected>Chọn Xã/Phường/Thị trấn</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="diaChiCuThe" class="form-label">Địa chỉ cụ thể</label>
                        <input type="text" class="form-control" id="diaChiCuThe" name="Street" placeholder="Nhập số nhà, tên đường..." required>
                    </div>
                    <input type="hidden" id="Locate" name="Locate" />

                    <!-- Các thông tin khác -->
                    <div id="form2">
                        <div class="mb-4">
                            <label for="loaiBDS" class="form-label">Loại BĐS</label>
                            <select class="form-select custom-select" id="loaiBDS" name="Type" required>
                                <option value=0 selected>Cho Thuê</option>
                                <option value=1>Mua Bán</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="dienTich" class="form-label">Diện tích</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="dienTich" name="Area" required>
                                <span class="input-group-text">m²</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="mucGia" class="form-label">Mức giá</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="mucGia" name="Price" required>
                                <span class="input-group-text">VND/m²</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Mô tả</label>
                            <div class="input-group">
                                <input type="hidden" id="Description" name="Description" value="Default value">
                            </div>
                        </div>
                        <!-- Input và Nút chọn hình -->
                        <div class="mb-4">
                            <label for="uploadAnh" class="form-label">Tải lên hình ảnh</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="uploadAnh" name="uploadedImages" multiple>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" id="tiepTuc2">Đăng tin</button>
                        </div>
                        <div id="previewImages" class="d-flex flex-wrap"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
 <script src="~/js/PostProjectJs.js"></script>